.chatbot_avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background-color: #bda2db;
  color: #2b064d;
  margin-left: 10px;
}
