@import '../../../../scss/vars.scss';

.chatbot_avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background-color: $primary-color-light;
  color: $primary-color-dark;
  margin-left: 10px;
}
