* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #8262a7;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app_leftbar {
  display: flex;
  flex: 0.145;
  padding-right: 70px;
  background: #bda2db;
  margin-right: 2.5%;
  color: black;
}

.app_main {
  flex: 0.75;
  height: max-content;
  padding-top: 1vw;
}

.app_chatbot {
  position: fixed;
  margin-left: 3%;
  right: 0;
  bottom: 0;
  z-index: 999;
  margin: 19px;
}

.chatbot_icon {
  width: 3.5vw;
  margin: 340px 0 -10px 240px;
  right: 3;
  bottom: 3;
  cursor: pointer;
}

.active {
  display: flex;
  z-index: 9999;
}

.inactive {
  display: none;
}

.icon_arrow {
  position: relative;
  animation-name: icon_arrow_animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: 999;
}

.icon_arrow_itself {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 5vw;
  margin: 0 0 0 26.5vw;
}

@keyframes icon_arrow_animation {
  from {
    bottom: 5px;
  }
  to {
    bottom: -20px;
  }
}
