* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: whitesmoke;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app_leftbar {
  display: flex;
  flex: 0.145;
  padding-right: 70px;
  background-color: grey;
  margin-right: 2.5%;
}

.app_main {
  flex: 0.75;
  height: max-content;
}

.app_chatbot {
  position: fixed;
  margin-left: 2.5%;
  right: 0;
  bottom: 0;
  z-index: 999;
  margin: 10px;
}

.chatbot_icon {
  width: 3.5vw;
  margin-left: 220px;
  margin-top: 310px;
  right: 3;
  bottom: 3;
  cursor: pointer;
}

.hide_show {
  display: none;
}

.icon_arrow {
  position: relative;
  animation-name: icon_arrow_animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.icon_arrow_itself {
  position: relative;
  cursor: pointer;
  left: 29vw;
  height: 4.5vw;
}

@keyframes icon_arrow_animation {
  from {
    bottom: 5px;
  }
  to {
    bottom: -20px;
  }
}
