@media screen and (max-width: 500px) {
  .app_topbar {
    display: flex;
    background: #bda2db;
    top: 0px;
    width: 100vh;
    height: 70px;
    justify-content: center;
  }

  .app_topbar h1 {
    font-size: 7.7vw;
    justify-self: center;
  }

  .app_topbar p {
    font-size: 4.7vw;
    justify-self: center;
    margin-top: 40px;
  }

  .icon_map {
    position: relative;
    border-radius: 50%;
    background-color: #8262a7;
    left: -40px;
    width: 50px;
    height: 50px;
    bottom: -10px;
    padding: 3px;
  }

  .icon_chart {
    position: relative;
    border-radius: 50%;
    background-color: #8262a7;
    width: 50px;
    height: 50px;
    right: -40px;
    bottom: -10px;
    padding: 3px;
  }

  .app_leftbar {
    display: none;
  }

  .app_main {
    display: none;
  }

  .chatbot_icon {
    width: 12vw;
    margin-right: -15px;
  }

  .forms_mobile {
    position: fixed;
    display: flex;
    bottom: 17px;
    left: 14px;
  }

  .forms_mobile_icon_itself {
    width: 11vw;
  }

  .hide {
    display: flex;
  }
}
