.overview {
  position: fixed;
}

h1 {
  font-size: 1.2vw;
}

p {
  font-size: 1vw;
}

.safe5 {
  margin: 20px 0 70px 8px;
}

.dangerous5 {
  margin: 0 0 70px 8px;
}

.died {
  margin: 0 0 70px 8px;
}

.RNumber {
  margin: 0 0 0 8px;
}

.forms_icon {
  padding: 10vw 5.5vw;
  cursor: pointer;
}

.forms_icon_itself {
  width: 5vw;
}
