@import './vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: $primary-color-medium;
}

/* ========== FUNCTIONAL CLASSES ========== */

.active {
  display: flex;
  z-index: 999;
}

.inactive {
  display: none;
}

.desktop_inactive {
  display: none;
}

/* ========== STYLING ========== */

// app
.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// leftbar
.app_leftbar {
  display: flex;
  width: 75vw;
  background: $primary-color-light;
  margin: 0 2.5% 0 0;
  color: black;
}

// main
.app_main {
  height: max-content;
  padding: 1vw 0 0 0;
}

// chatbot
.app_chatbot {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 19px;
  z-index: 9;

  .chatbot_icon {
    width: 3.5vw;
    cursor: pointer;
    background-color: $primary-color-light;
    border-radius: 50%;
    padding: 5px;
  }
}

// arrow
.icon_arrow {
  animation: icon_arrow_animation 2s infinite;
  position: relative;
  display: flex;
  cursor: pointer;
  z-index: 999;
  width: 24vw;
  height: min-content;
  right: 50vw;
  transform: translate(50%, 0);
}

/* ========== KEYFRAMES ========== */

@keyframes icon_arrow_animation {
  from {
    top: 93vh;
  }
  to {
    top: 95vh;
  }
}
