* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #8262a7;
}

/* ========== FUNCTIONAL CLASSES ========== */

.active {
  display: flex;
  z-index: 999;
}

.inactive {
  display: none;
}

.desktop_inactive {
  display: none;
}

/* ========== STYLING ========== */

// app
.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// leftbar
.app_leftbar {
  display: flex;
  width: 45vw;
  background: #bda2db;
  margin-right: 2.5%;
  color: black;
}

// main
.app_main {
  flex: 0.75;
  height: max-content;
  padding-top: 1vw;
  z-index: 10;
}

// chatbot
.app_chatbot {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 19px;
  z-index: 9;

  .chatbot_container {
    position: fixed;
  }

  .chatbot_icon {
    width: 3.5vw;
    margin: 340px 0 -10px 280px;
    right: 3;
    bottom: 3;
    cursor: pointer;
  }
}

// arrow
.icon_arrow_container {
  width: fit-content;
  position: relative;
  z-index: 1;

  .icon_arrow {
    display: flex;
    position: relative;
    cursor: pointer;
    animation-name: icon_arrow_animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    width: 5vw;
    left: 26.2vw;
  }
}

/* ========== KEYFRAMES ========== */

@keyframes icon_arrow_animation {
  from {
    bottom: 5px;
  }
  to {
    bottom: -20px;
  }
}
