@import './vars.scss';
@import '~leaflet/dist/leaflet.css';

/* ========== NORMAL SIZEZ SCREEN ========== */

@media screen and (max-width: 500px) {
  /* ========== FUNCTIONAL CLASSES ========== */

  ._mobile-active {
    display: flex;
    z-index: 999;
  }

  ._mobile-inactive {
    display: none !important;
  }

  ._desktop-inactive {
    display: inline;
  }

  ._chart-close {
    height: 100% !important;
  }

  ._chart-open {
    height: 100% !important;
  }

  /* ========== STYLING ========== */

  // topbar
  .app_topbar {
    position: fixed;
    display: flex;
    background: $primary-color-light;
    top: 0px;
    width: 100%;
    height: 75px;
    justify-content: center;
    z-index: 999;

    .topbar_text {
      position: relative;
      margin: auto;
      text-align: center;
    }

    h1 {
      position: relative;
      height: fit-content;
      width: 60vw;
      font-size: 6vw;
      text-align: center;
      line-height: 25px;
    }

    p {
      position: relative;
      height: fit-content;
      bottom: 0;
      font-size: 4.7vw;
    }

    .icon_map {
      position: relative;
      border-radius: 50%;
      background-color: $primary-color-medium;
      padding: 3px;
      width: 13vw;
      height: 13vw;
      left: 14px;
      bottom: -50%;
      transform: translate(0, -50%);
      cursor: pointer;
    }

    .icon_chart {
      position: relative;
      border-radius: 50%;
      background-color: $primary-color-medium;
      padding: 3px;
      width: 13vw;
      height: 13vw;
      right: 14px;
      bottom: -50%;
      transform: translate(0, -50%);
      cursor: pointer;
    }
  }

  // leftbar
  .app_leftbar {
    display: none;
  }

  // map
  .map {
    position: absolute;
    width: 95vw !important;
    height: 38vh !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // charts
  .charts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;

    .charts_container {
      height: 62vh !important;
      overflow: scroll;

      .chart {
        width: 95vw !important;
        height: 65vw !important;
        margin: 0 0 20px 0 !important;
      }
    }
  }

  // chatbot
  .chatbotContainer {
    // margin: 0 2.5vw 3vh 0;
    right: 50% !important;
    bottom: 13% !important;
    transform: translate(50%, 0);
  }

  .chatbot_icon {
    position: fixed;
    width: 13vw !important;
    right: 14px !important;
    bottom: 17px;
  }
}

/* ========== SMALL SIZEZ SCREEN ========== */

@media screen and (max-height: 580px) and (max-width: 500px) {
  /* ========== STYLING ========== */

  // chatbot
  .react-chatbot-kit-chat-inner-container {
    height: 290px !important;
  }

  .react-chatbot-kit-chat-container {
    width: 280px !important;
  }

  .react-chatbot-kit-chat-message-container {
    height: 245px !important;
    width: 280px !important;
  }

  // charts
  .charts {
    .charts_container {
      height: 58vh !important;
    }
  }
}
