@import './vars.scss';
@import '~leaflet/dist/leaflet.css';

/* ========== NORMAL SIZEZ SCREEN ========== */

@media screen and (max-width: 500px) {
  /* ========== FUNCTIONAL CLASSES ========== */

  ._mobile-active {
    display: flex;
    z-index: 999;
  }

  ._mobile-inactive {
    display: none !important;
  }

  ._desktop-inactive {
    display: inline;
  }

  /* ========== STYLING ========== */

  // topbar
  .app_topbar {
    position: fixed;
    display: flex;
    background: $primary-color-light;
    top: 0px;
    width: 100%;
    height: 75px;
    justify-content: center;
    z-index: 999;

    .topbar_text {
      position: relative;
      margin: auto;
      text-align: center;
    }

    h1 {
      position: relative;
      height: fit-content;
      width: 60vw;
      font-size: 6vw;
      text-align: center;
      line-height: 25px;
    }

    p {
      position: relative;
      height: fit-content;
      bottom: 0;
      font-size: 4.7vw;
    }

    .icon_map {
      position: relative;
      border-radius: 50%;
      background-color: $primary-color-medium;
      padding: 3px;
      width: 50px;
      height: 50px;
      left: 18px;
      bottom: -10px;
      cursor: pointer;
    }

    .icon_chart {
      position: relative;
      border-radius: 50%;
      background-color: $primary-color-medium;
      padding: 3px;
      width: 50px;
      height: 50px;
      right: 18px;
      bottom: -10px;
      cursor: pointer;
    }
  }

  // leftbar
  .app_leftbar {
    display: none;
  }

  // map
  .map {
    position: absolute;
    width: 96vw !important;
    height: 64vh !important;
    top: 50%;
    left: 50%;
    margin: -34vh 0 0 -48vw !important;
  }

  // charts
  .charts {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 16.5vh 0 !important;

    .charts_container {
      height: 64vh !important;
      overflow: scroll;
    }

    .chart {
      margin-bottom: 20px !important;
      width: 92vw !important;
    }
  }

  // chatbot
  .chatbotContainer {
    // margin: 0 2.5vw 3vh 0;
    right: 50% !important;
    bottom: 13% !important;
    transform: translate(50%, 0);
  }

  .chatbot_icon {
    position: fixed;
    width: 13vw !important;
    right: 14px !important;
    bottom: 17px;
  }

  // forms
  .forms_mobile_icon_container {
    position: fixed;
    bottom: 17px;
    left: 14px;

    .forms_mobile_icon {
      background-color: $primary-color-light;
      border-radius: 50%;
      padding: 5px;
      width: 13vw;
    }
  }
}

/* ========== SMALL SIZEZ SCREEN ========== */

@media screen and (max-height: 580px) and (max-width: 500px) {
  /* ========== STYLING ========== */

  // map
  .map {
    height: 58vh !important;
    margin: -32vh 0 0 -48vw !important;
  }

  // charts
  .charts {
    margin: 19vh 0 !important;

    .charts_container {
      height: 58vh !important;
    }
  }
}
