._chart-open {
  height: 100%;
}

._chart-close {
  height: 5vh;
}

.charts {
  margin-top: 300px;
  z-index: 10;

  h1 {
    text-align: center;
    text-transform: uppercase;
  }

  .chart {
    width: 76vw;
    margin-bottom: 160px;
  }
}
