._chart-open {
  height: 100%;
}

._chart-close {
  height: 5vh;
}

.charts {
  h1 {
    text-align: center;
    text-transform: uppercase;
  }

  margin-top: 300px;
  z-index: 10;

  .charts_container {
    width: 76vw;

    .chart {
      margin-bottom: 100px;
      width: 100%;
    }
  }
}
