@import './vars.scss';

.chatbotContainer {
  display: flex;
  position: fixed;
  bottom: 75px;
}

.react-chatbot-kit-chat-inner-container {
  height: 400px !important;
}

.react-chatbot-kit-chat-container {
  width: 300px !important;
  border: 3.5px solid $primary-color-dark;
  border-radius: 2.9%;
}

.react-chatbot-kit-chat-message-container {
  height: 350px !important;
  width: 300px !important;
}

.react-chatbot-kit-user-chat-message {
  color: #303030 !important;
}
