@import './vars.scss';

.chatbotContainer {
  display: flex;
  position: fixed;
  bottom: 8vh;
  right: 4vw;
}

.react-chatbot-kit-chat-inner-container {
  height: 430px !important;
}

.react-chatbot-kit-chat-container {
  width: 310px !important;
  border: 3.5px solid $primary-color-dark;
  border-radius: 2.9%;
}

.react-chatbot-kit-chat-message-container {
  height: 380px !important;
  width: 310px !important;
}

.react-chatbot-kit-user-chat-message {
  color: #303030 !important;
}
