@import '~leaflet/dist/leaflet.css';

.map {
  height: 90vh;
  width: 74vw;
  margin-top: 20px;
  border: 5px solid rgb(43, 6, 77);
  margin-right: 5vw;
}

.map .leaflet-container {
  height: 100%;
  z-index: 10;
}
