@import './vars.scss';
@import '~leaflet/dist/leaflet.css';

.map {
  height: 90vh;
  width: 76vw;
  margin: 1vw 0 0 0;
  border: 5px solid $primary-color-dark;

  .leaflet-container {
    height: 100%;
    z-index: 10;
  }
}
