.overview {
  position: fixed;

  h1 {
    font-size: 2vw;
  }

  h2 {
    font-size: 1.05vw;
    text-transform: uppercase;
    text-decoration: underline;
  }

  p {
    font-size: 0.85vw;
  }
}

.ww {
  margin: 20px 0 50px 10px;
  text-align: center;

  .header {
    margin-bottom: 30px;
  }

  .ww_container {
    margin-bottom: 10px;
  }
}

.cz {
  margin: 0 0 90px 10px;
  text-align: center;

  .header {
    margin-bottom: 30px;
  }

  .cz_container {
    margin-bottom: 10px;
  }
}

.forms {
  margin: 0 0 0 10px;

  h2 {
    text-transform: none;
    text-decoration: none;
    font-size: 0.8vw;
  }

  p {
    font-size: 0.65vw;
  }
}

.forms_icon {
  margin: 2.2vw 5vw;
  position: relative;
  width: 5vw;
  cursor: pointer;
}
