.overview {
  text-align: center;
  margin-left: 0.9vw;
  position: fixed;

  h1 {
    font-size: 2vw;
    text-decoration: underline;
    font-weight: 700;
  }

  h2 {
    font-size: 1.05vw;
    text-transform: uppercase;
    font-weight: 600;
  }

  p {
    font-size: 0.85vw;
  }
}

.overview_container {
  .header {
    margin-bottom: 25px;
  }

  .data_container {
    margin-bottom: 8px;
  }
}

.ww {
  margin: 20px 0 50px 0;
}
