.overview {
  position: fixed;
}

h1 {
  font-size: 1.1vw;
}

p {
  font-size: 0.9vw;
}

.safe5 {
  margin: 20px 0 70px 8px;
}

.dangerous5 {
  margin: 0 0 70px 8px;
}

.died {
  margin: 0 0 70px 8px;
}

.RNumber {
  margin: 0 0 105px 8px;
}

.forms {
  margin: 0 0 0 8px;
}

.forms h1 {
  font-size: 0.8vw;
}

.forms p {
  font-size: 0.65vw;
}

.forms_icon {
  padding: 1vw 4.5vw;
  position: relative;
  bottom: -2vw;
}

.forms_icon_itself {
  width: 5vw;
  cursor: pointer;
}

.safe5 h1,
.dangerous5 h1,
.died h1,
.RNumber h1,
.forms h1 {
  text-transform: uppercase;
}

.safe5 h1,
.dangerous5 h1,
.died h1,
.RNumber h1 {
  text-decoration: underline;
}
